span.icon.trash::before {
  content: "\f014";
  font-family: FontAwesome;
  font-size: 7.5rem;
  
}

#blocklyTrashIcon {
  z-index: 0;
  position: absolute;
  top: 33%;
  left: 45px;
}

.blocklyToolboxDiv {
  background-color: #fff;
  opacity: 1;
}

.blocklyTreeRoot {
  padding: 0 0;
}

.blocklyTreeLabel {
  font-family: Montserrat;
  font-size: 1.2rem;
}

.blocklyTreeRow {
  height: 45px;
  min-width: 150px;
  line-height: 45px;
  margin-bottom: 0;
  border-left-width: 12px !important;
  box-shadow: inset 0 -2px 0 0 #eee;
  transition: 0.7s;
}
